{{>admin_breadcrumb}}
<div class="row">
    <div class="col s12">
        <h4>Administrator panel</h4>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="collection">
            <a class="collection-item waves-effect waves-green" href="/admin/publications">Publications</a>
            <a class="collection-item waves-effect waves-red" href="/admin/users">Users</a>
            <a class="collection-item waves-effect waves-yellow" href="/admin/server">Server</a>
        </ul>
    </div>
</div>