<div class="row">
    <div class="col s12">
        <nav>
            <div class="nav-wrapper purple">
                <div class="col s12">
                    <a href="/admin" class="breadcrumb">Admin panel</a>
                    {{#if breadcrumb_section}}
                    <a href="#" class="breadcrumb">{{breadcrumb_section}}</a>
                    {{/if}}
                </div>
            </div>
        </nav>
    </div>
</div>